<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Bharath E-Commerce Store</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');

    function getCookie(name) {
      // split cookie string and get all individual name=value pairs in array
      var cookieArr = document.cookie.split(";");

      // Loop through array elements
      for (var i = 0; i < cookieArr.length; i++) {
           var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
          and compare it with the given string */
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          } 
      }

      // Return null if not found
      return null;
    }
    
    var cart = JSON.parse(getCookie('cart'));
    if (cart == undefined) {
      cart = {}
      console.log('Cart was created!')
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    console.log('cart: ',cart);

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Navbar code -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
      <div class="row">

        <a href="{% url 'cart' %}" style="text-decoration: none;">
          <div class="col">
              <img id="cart-icon" src="{% static 'images/cart.png' %}" />
              </div>
          <div class="col">

              <span id="cart-total">{{cartItems}}</span>
            </div>
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'store' %}"
              >Store <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>

        <div>
          
          {% if request.user.is_authenticated %}
          <p style="color: white;">Hi <b>{{request.user.first_name}} {{request.user.last_name}}</b>
          {% if request.user.customer.profile_pic %} 
            <img width="20" alt="" src="{{request.user.customer.profile_pic.url}}" ></p>
          {% else %}

          {% endif %}
           <a class="btn btn-warning" href="{% url 'profile' %}">
          My Account</a>
          
            <a href="/accounts/logout/" class="btn btn-danger">Logout</a>
          
          {% else %}
          
          <a href="/accounts/google/login/?process=login" class="btn btn-warning" style="border-radius: 10px;">
            Login using Google <i class="fa fa-google"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    <br>
    <br>

    <div class="container">
      <br />
      {% block content %} {% endblock content %}
      <br>
    </div>
      <!-- <footer>Copyright. All rights reserved</footer> -->
    </div>
    <br>
      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small style="color: white">Copyright &copy; <script>document.write(new Date().getFullYear())</script>
         </small>
        </div>
      </footer>

    <!-- <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script> -->

    <!-- <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> -->

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    <!--Start of Tawk.to Script-->
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ed604119e5f6944228fb33d/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
    <!--End of Tawk.to Script-->
  </body>

  <script type="text/javascript">
    document.getElementById('img-container').addEventListener('mouseover', function(){
            imageZoom('featured')
            
        })

    function imageZoom(imgID){
      let img = document.getElementById(imgID)
      let lens = document.getElementById('lens')

      lens.style.backgroundImage = `url( ${img.src} )`

      let ratio = 3

      lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';

      img.addEventListener("mousemove", moveLens)
      lens.addEventListener("mousemove", moveLens)
      img.addEventListener("touchmove", moveLens)
      lens.addEventListener("touchmove", moveLens)

    function moveLens(){
      /*
          Function sets sets position of lens over image and background image of lens
          1 - Get cursor position
          2 - Set top and left position using cursor position - lens width & height / 2
          3 - Set lens top/left positions based on cursor results
          4 - Set lens background position & invert
          5 - Set lens bounds
      
          */

          //1
      let pos = getCursor()
      //console.log('pos:', pos)

      //2
      let positionLeft = pos.x - (lens.offsetWidth / 2)
      let positionTop = pos.y - (lens.offsetHeight / 2)

      //5
      if(positionLeft < 0 ){
        positionLeft = 0
      }

      if(positionTop < 0 ){
        positionTop = 0
      }

      if(positionLeft > img.width - lens.offsetWidth /3 ){
        positionLeft = img.width - lens.offsetWidth /3
      }

      if(positionTop > img.height - lens.offsetHeight /3 ){
        positionTop = img.height - lens.offsetHeight /3
      }


      //3
      lens.style.left = positionLeft + 'px';
      lens.style.top = positionTop + 'px';

      //4
      lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
    }

    function getCursor(){
      /* Function gets position of mouse in dom and bounds
           of image to know where mouse is over image when moved
          
          1 - set "e" to window events
          2 - Get bounds of image
          3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
          4- Return x and y coordinates for mouse position on image
          
           */

          let e = window.event
          let bounds = img.getBoundingClientRect()

          //console.log('e:', e)
          //console.log('bounds:', bounds)
          let x = e.pageX - bounds.left
          let y = e.pageY - bounds.top
          x = x - window.pageXOffset;
          y = y - window.pageYOffset;
          
          return {'x':x, 'y':y}
          }

    }

    imageZoom('featured')

  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!--  <script type="text/javascript">
      window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
      }, 3000);
  </script> -->
</html>
