{% extends 'store/main.html' %} 
{% load static %} 

{% block content %}


<div class="container mt-5">
		<a href="/" class="btn btn-warning"> &#8592; Back to Store</a>
	<div class="row">
		<div class="col-md-4"><br>
	      <img class="thumbnail" src="{{product.imageURL}}" />
	      <div class="box-element product">
	        <h6><strong>{{product.name}}</strong></h6>
	        <hr />
	        <button data-product={{product.id}} data-action='add' class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
	        <!-- {% if offer_price != 0.0 %}
	        <h4 style="display: inline-block; float: right;">
	          <strike>₹ {{product.price|floatformat:2}}</strike>
	          <strong>₹ {{product.offer_price|floatformat:2}}</strong>
	        </h4>
	        {% else %}
	        <h4 style="display: inline-block; float: right;">
	          <strong>₹ {{product.price|floatformat:2}}</strong>
	        </h4>
	        {% endif %} -->
	        <h4 style="display: inline-block; float: right;">
	          <strong>₹ {{product.price|floatformat:2}}</strong>
	        </h4>
	      </div>
	    </div> 
	    <div class="col-md-8">
	    <br>
	    		{% if product.description %}
	    	<div class="box-element product py-2 px-2">
	    		<h3><b>Description</b></h3>
	    		<p>{{product.description | safe}}</p>
	    	</div>
	    		{% else %}
	    			
	    		{% endif %}
	    </div>		
	</div>
</div>




{% endblock content %}