{% extends 'store/main.html' %} 
{% load static %} 

{% block content %}

  
  <form method="get" class="mt-5">
    {{myFilter.form}} <br>
    <button type="submit" class="btn btn-outline-primary">Search</button>
    <!-- <div style="display: flex;">
      <input type="text" class="form-control" name="search" placeholder="Search Products">
      <a href="/"><button class="btn btn-outline-primary" style="border-radius: 10px;">Search</button></a>
    </div> -->

  </form>

<div class="row">
  {% for product in products %}
    <div class="col-lg-4">
      <img class="thumbnail" src="{{product.imageURL}}" />
      <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr />
        <button data-product={{product.id}} data-action='add' class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        <!-- <a class="btn btn-outline-success" href="#">View</a> -->
        <h4 style="display: inline-block; float: right;">
          <strong>₹ {{product.price|floatformat:2}}</strong>
        </h4>
      </div>
    </div>
  {% endfor %} 
</div>
<br>
<!-- 
{% if products_page.has_other_pages %}
      <ul class="pagination">
        {% if products_page.has_previous %}
          <li><a class="page-link" href="?page={{ products_page.previous_page_number }}">Prev</a></li>
        {% else %}
          <li class="page-link"><span>&laquo;</span></li>
        {% endif %}
        {% for i in products_page.paginator.page_range %}
          {% if products_page.number == i %}
            <li class="p-2 bg-success text-white"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

          {% endif %}
        {% endfor %}
        {% if products_page.has_next %}
          <li><a class="page-link" href="?page={{ products_page.next_page_number }}">Next</a></li>
        {% else %}
          <li class="page-link"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %} -->

<script type="text/javascript">
  search_form = document.getElementById('id_name');
  search_form.classList.add("form-control");
</script>
{% endblock %}
